<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/layout">
<head>

    <title>Lotes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap Core CSS -->
    <link th:href="@{layout/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{layout/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link th:href="@{layout/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{layout/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{layout/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{layout/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	

</head>

<body style="background-color: #CEECF5">

    <section layout:fragment="conteudo">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-1">
                    <h1 class="page-header">Lotes</h1>
                </div>
                <div class=" col-lg-1 col-md-offset-10" style="background-color: transparent;" align="right">
                    <a href="#" data-toggle="modal" data-target="#squarespaceModal" class="btn-sm btn-default center-block">
                    	<img th:src="@{/layout/images/camaroes_02.png}"/>
                    </a>
                 </div>
                <!-- /.col-lg-12 -->
            </div>
            
            
             <!-- line modal -->
			<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
  				<div class="modal-dialog">
					<div class="modal-content" style="background-color: #CEECF5">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h3 class="modal-title" id="lineModalLabel">Novo lote</h3>
						</div>
						
					<div class="modal-body" style="background-color: #CEECF5">
			
			
		            <!-- content goes here -->
					<form style="background-color: #CEECF5">
					
		                <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Tipo de camarão:</label>
		               		<select>
		               			<option>Macrobrachium rosenbergii</option>
		               			<option>L. vannamei</option>
		               		</select>
		               		
		              </div>
		             
		              <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Tipo do lote:</label>
		               		<select>
		               			<option>Matriz</option>
		               			<option>Normal</option>
		               		</select>
		               		
		              </div>
		                 <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Tanque:</label>
		               		<select>
		               			<option>Tanque 01</option>
		               			<option>Tanque 02</option>
		               			<option>Tanque 03</option>
		               			<option>Tanque 04</option>
		               		</select>
		               		
		              </div>
		              <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Peso total:</label>
            				<div class="col-sm-2">
		                		<label for="exampleInputEmail1">Kg:</label>
		               				 <input type="number" class="form-control sm" id="exampleInputEmail1"/>
		               			</div>
		              </div>
		              
		              <button type="submit" class="btn btn-success">Cadastrar</button>
		            </form>
		
				</div>
		
			</div>
		  </div>
		</div>	
		
         <!-- line modal -->
			<div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
  				<div class="modal-dialog">
					<div class="modal-content" style="background-color: #CEECF5">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
							<h3 class="modal-title" id="lineModalLabel">Acompanhamento</h3>
						</div>
						
					<div class="modal-body" style="background-color: #CEECF5">
			
			
		            <!-- content goes here -->
					<form style="background-color: #CEECF5">
					
		                <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Tamanho médio do camarão:</label>
		               		<select>
		               			<option>Macrobrachium rosenbergii</option>
		               			<option>L. vannamei</option>
		               		</select>
		               		
		              </div>
		             
		              <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Peso total do lote:</label>
		               		<select>
		               			<option>Matriz</option>
		               			<option>Normal</option>
		               		</select>
		               		
		              </div>
		                 <div class="form-group row">
           				 <label class="col-sm-4 control-label" for="textinput">Aparição de enfermidade:</label>
           				 	<div class="col-sm-2 col-offset-1">
           				 		<input id="sel" type="checkbox" />Sim
           				 	</div>
           				 	<div class="col-sm-2 col-offset-2">
		               			<textarea  id="texto" rows="4" cols="20"></textarea>
		               		</div>
		              </div>
		              <div class="form-group row">
           				 <label class="col-sm-2 control-label" for="textinput">Situação:</label>
		               		<select>
		               			<option>Engorda</option>
		               			<option>Matança</option>
		               			<option>Troca de lote</option>
		               		</select>
		               		
		              </div>
		              
		              <button type="submit" class="btn btn-success">Cadastrar</button>
		            </form>
		
				</div>
		
			</div>
		  </div>
		</div>	
          
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"  style="background-color: #CEECF5">
                            Lote 01<div title="Acompanhamento" align="right"><a class="btn"  href="#" data-toggle="modal" data-target="#squarespaceModal2" ><img th:src="@{layout/images/acompanhamento.png}"/></a></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tanque</th>
                                            <th>Tipo de camarão</th>
                                            <th>Peso total</th>
                                            <th>Situação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Tanque 01</td>
                                            <td>L. vannamei</td>
                                            <td>500 kg</td>
                                            <td>Engorda</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Tanque 02</td>
                                            <td>L. vannamei</td>
                                            <td>500 kg</td>
                                            <td>Matança</td>
                                        </tr>
                                       <tr>
                                            <td>1</td>
                                            <td>Tanque 01</td>
                                            <td>Macrobrachium rosenbergii</td>
                                            <td>500 kg</td>
                                            <td>Matança</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"  style="background-color: #CEECF5">
                            Lote 02<div title="Acompanhamento" align="right"><a  href="#" data-toggle="modal" data-target="#squarespaceModal2" class="btn"><img th:src="@{layout/images/acompanhamento.png}"/></a></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tanque</th>
                                            <th>Tipo de camarão</th>
                                            <th>Peso total</th>
                                            <th>Situação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Tanque 01</td>
                                            <td>L. vannamei</td>
                                            <td>500 kg</td>
                                            <td>Engorda</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Tanque 02</td>
                                            <td>L. vannamei</td>
                                            <td>500 kg</td>
                                            <td>Matança</td>
                                        </tr>
                                       <tr>
                                            <td>1</td>
                                            <td>Tanque 01</td>
                                            <td>Macrobrachium rosenbergii</td>
                                            <td>500 kg</td>
                                            <td>Matança</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
          </div>
    </section>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script th:src="@{layout/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{layout/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{layout/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{layout/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{layout/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{layout/vendor/datatables-responsive/dataTables.responsive.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{layout/dist/js/sb-admin-2.js}"></script>
	
	
	
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
